#logo{
    width: 100px;
}
#banner-top{
    background-image: url('../img/background/top.jpeg');
}
#speakers{
    background-image: url('../img/background/speaker.png');
}
.btn-ticket-aws{
    background-color: #FFAE00;
    border: 1px solid white;
    border-radius: 7px;
}
.btn-ticket-aws:hover{
    color: #FFAE00;
    background-color: white;
    border: 1px solid #FFAE00;
    border-radius: 7px;
}
.exp-img{
    background-image:url('../img/background/experience.jpg');
}
#sponsors{
    background-image: url('../img/background/sponsor_img.jpg');
}
.company-logo{
    width: 100px;
}
.company-logos{
    width: 70px;
}
.ts-speaker-popup-content .description{
    text-align: justify;
}
#boletin{
    background-image: url('../img/shap/subscribe_pattern.png');
}
#contact{
    background-image: url('../img/book_seat_img.jpg');
}
#page-banner-area{
    background-image:url('../img/banner_bg.jpg');
}
.speaker-all .speaker-img {
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin: auto auto 20px; 
}
.adisabled{
    pointer-events: none;
}